@use "../../../src/assets/palette";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap");
.App {
    &__form {
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;

        &__text {
            width: 600px;
            height: 2em;
            font-size: 20px;
        }
        &__buttons {
            width: 160px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            &__add,
            &__update {
                background-color: palette.$add;
                &:hover {
                    background-color: palette.$add-hover;
                }
                &:active {
                    background-color: palette.$add-click;
                    color: white;
                }
            }
        }
    }
}
