$background: #3b3b58;
$task-item: #a96da3;
$deleted-colour: #cf9893;
$icon-colour: #6f1441;
$icon-hover: #36021c;
$highlights: #bc7c9c;
$hover-colour: #7a5980;

$add: #03e093;
$add-hover: #009c66;
$add-click: #016f48;

$update: #03a8e0;
$update-hover: #007da7;
$update-click: #00526d;

$cancel: #c3266d;
$cancel-hover: #a20049;
$cancel-click: #6c0433;
